body {
    background-color: #efg;
    padding-top: 60px; /* to make the container go all the way to the bottom of the topbar */
}

.footer {
    position: absolute;
    bottom: 20px;
}
.footer .btn-group {
    width: 295px;
}
.slide h1.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

textarea {
    min-height: 400px !important;
}

.btn {
    font-size: 70%;
}
