<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Talk</title>

  </head>
  <body>
      <div>[% error_msg %]</div>
      <div>[% msg %]</div>
      <div>[% content %]</div>
  </body>
</html>
